services:
  app:
    build: ./
    ports:
      - 7860:7860
    volumes:
      - ./outputs:/app/outputs
      - ./hf_download:/app/hf_download
    command:
      - python
      - demo_gradio_f1.py
      - --server=0.0.0.0
      - --port=7860
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
